TheGents-main11.19/UploadingFiles/test/tri-color-dashboard.json.txt
[
    {
        "id": "38cdd964.411306",
        "type": "tab",
        "label": "Trim PotTri-Color LED Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6bc4ab5d.10d464",
        "type": "comment",
        "z": "38cdd964.411306",
        "name": "Tri-Color LED (RGB) Dashboard by Zhenting Mai (mai00019@algonquincolive.com)",
        "info": "",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "605b9a67.4527e4",
        "type": "comment",
        "z": "38cdd964.411306",
        "name": "Pre-Req: Teensy is running Standard Firmata Plus",
        "info": "",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "d59231bc.44787",
        "type": "range",
        "z": "38cdd964.411306",
        "minin": "0",
        "maxin": "1024",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 260,
        "y": 700,
        "wires": [
            [
                "55db6eac.43ca1"
            ]
        ]
    },
    {
        "id": "55db6eac.43ca1",
        "type": "rbe",
        "z": "38cdd964.411306",
        "name": "block unless value change is greater than 1 compared to last valid ouput value",
        "func": "deadband",
        "gap": "1",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 640,
        "y": 700,
        "wires": [
            [
                "cc588c72.36c4a",
                "1814aca7.671253",
                "1c682821.2bdc28",
                "c7bb6e75.fa8ea"
            ]
        ]
    },
    {
        "id": "495cf8bc.4dc448",
        "type": "arduino out",
        "z": "38cdd964.411306",
        "name": "Blue (Pin 21)",
        "pin": "21",
        "state": "PWM",
        "arduino": "b4543f4.a6ae6c",
        "x": 1190,
        "y": 420,
        "wires": []
    },
    {
        "id": "40284383.e5aa0c",
        "type": "arduino out",
        "z": "38cdd964.411306",
        "name": "Green (Pin 20)",
        "pin": "20",
        "state": "PWM",
        "arduino": "b4543f4.a6ae6c",
        "x": 1180,
        "y": 280,
        "wires": []
    },
    {
        "id": "1178805f.d07ad",
        "type": "arduino in",
        "z": "38cdd964.411306",
        "name": "Trim Pot (A8)",
        "pin": "8",
        "state": "ANALOG",
        "arduino": "b4543f4.a6ae6c",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "d59231bc.44787"
            ]
        ]
    },
    {
        "id": "fd06e185.715cb",
        "type": "ui_colour_picker",
        "z": "38cdd964.411306",
        "name": "Colour Wheel",
        "label": "",
        "group": "62acb1ad.9016a",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 1,
        "width": "5",
        "height": "4",
        "passthru": true,
        "topic": "",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "8bca5a42.257ae8",
                "80b2aee8.ec04c"
            ]
        ]
    },
    {
        "id": "80b2aee8.ec04c",
        "type": "split",
        "z": "38cdd964.411306",
        "name": "split: r,g,b",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 280,
        "y": 300,
        "wires": [
            [
                "96482f77.05483",
                "7a316701.873268"
            ]
        ]
    },
    {
        "id": "8bca5a42.257ae8",
        "type": "debug",
        "z": "38cdd964.411306",
        "name": "Colour Wheel",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 440,
        "wires": []
    },
    {
        "id": "7a316701.873268",
        "type": "debug",
        "z": "38cdd964.411306",
        "name": "split: r, g, b",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 480,
        "wires": []
    },
    {
        "id": "96482f77.05483",
        "type": "switch",
        "z": "38cdd964.411306",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "r",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "g",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "b",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 430,
        "y": 300,
        "wires": [
            [
                "78d037b6.a97eb8"
            ],
            [
                "4b815a7c.01ad04"
            ],
            [
                "6d2372bd.76ea1c"
            ]
        ]
    },
    {
        "id": "7b6cf7fa.ebc3f8",
        "type": "ui_text",
        "z": "38cdd964.411306",
        "group": "36a2d435.b8785c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Red:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1150,
        "y": 120,
        "wires": []
    },
    {
        "id": "99348a1d.2523f8",
        "type": "ui_text",
        "z": "38cdd964.411306",
        "group": "36a2d435.b8785c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Green:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1150,
        "y": 240,
        "wires": []
    },
    {
        "id": "a59d5085.188f5",
        "type": "ui_text",
        "z": "38cdd964.411306",
        "group": "36a2d435.b8785c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Blue:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1170,
        "y": 380,
        "wires": []
    },
    {
        "id": "1814aca7.671253",
        "type": "function",
        "z": "38cdd964.411306",
        "name": "Fade Red",
        "func": "var redValue = flow.get('Red')||0;\nmsg.payload=parseInt(Number(redValue)*(msg.payload/100));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1060,
        "y": 640,
        "wires": [
            [
                "b220caaa.6d2b28",
                "7b6cf7fa.ebc3f8"
            ]
        ]
    },
    {
        "id": "1c682821.2bdc28",
        "type": "function",
        "z": "38cdd964.411306",
        "name": "Fade Green",
        "func": "var redValue = flow.get('Green')||0;\nmsg.payload=parseInt(Number(redValue)*(msg.payload/100));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1070,
        "y": 700,
        "wires": [
            [
                "40284383.e5aa0c",
                "99348a1d.2523f8"
            ]
        ]
    },
    {
        "id": "c7bb6e75.fa8ea",
        "type": "function",
        "z": "38cdd964.411306",
        "name": "Fade Blue ",
        "func": "var redValue = flow.get('Blue')||0;\nmsg.payload=parseInt(Number(redValue)*(msg.payload/100));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1070,
        "y": 760,
        "wires": [
            [
                "495cf8bc.4dc448",
                "a59d5085.188f5"
            ]
        ]
    },
    {
        "id": "cc588c72.36c4a",
        "type": "ui_slider",
        "z": "38cdd964.411306",
        "name": "",
        "label": "LED Dimmer",
        "tooltip": "",
        "group": "22aa8bb0.737a34",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 1070,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "b220caaa.6d2b28",
        "type": "arduino out",
        "z": "38cdd964.411306",
        "name": "Red (Pin 23)",
        "pin": "23",
        "state": "PWM",
        "arduino": "b4543f4.a6ae6c",
        "x": 1170,
        "y": 160,
        "wires": []
    },
    {
        "id": "7cfbfef5.841e9",
        "type": "comment",
        "z": "38cdd964.411306",
        "name": "Learning Goal: Working with messages",
        "info": "",
        "x": 170,
        "y": 120,
        "wires": []
    },
    {
        "id": "6b609042.88f18",
        "type": "comment",
        "z": "38cdd964.411306",
        "name": "Teensy PWM pins for R, G, B",
        "info": "",
        "x": 1000,
        "y": 40,
        "wires": []
    },
    {
        "id": "ebcb5c3d.0c339",
        "type": "comment",
        "z": "38cdd964.411306",
        "name": "arduino out Type: Analogue",
        "info": "",
        "x": 990,
        "y": 80,
        "wires": []
    },
    {
        "id": "c6857507.c4ebd8",
        "type": "comment",
        "z": "38cdd964.411306",
        "name": "Colour Wheel Dashboard, featuring tri-color LED (analog)",
        "info": "",
        "x": 230,
        "y": 240,
        "wires": []
    },
    {
        "id": "c69db5f.0d6dc48",
        "type": "comment",
        "z": "38cdd964.411306",
        "name": "Dimmer",
        "info": "",
        "x": 70,
        "y": 560,
        "wires": []
    },
    {
        "id": "253f0ffe.c8fbe",
        "type": "comment",
        "z": "38cdd964.411306",
        "name": "Pin Type: Analogue",
        "info": "",
        "x": 110,
        "y": 600,
        "wires": []
    },
    {
        "id": "bb380b67.92f668",
        "type": "comment",
        "z": "38cdd964.411306",
        "name": "//Debug",
        "info": "",
        "x": 250,
        "y": 400,
        "wires": []
    },
    {
        "id": "78d037b6.a97eb8",
        "type": "function",
        "z": "38cdd964.411306",
        "name": "cache Red",
        "func": "flow.set('Red', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 240,
        "wires": [
            [
                "7b6cf7fa.ebc3f8",
                "b220caaa.6d2b28"
            ]
        ]
    },
    {
        "id": "4b815a7c.01ad04",
        "type": "function",
        "z": "38cdd964.411306",
        "name": "cache Green",
        "func": "flow.set('Green', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 300,
        "wires": [
            [
                "99348a1d.2523f8",
                "40284383.e5aa0c"
            ]
        ]
    },
    {
        "id": "6d2372bd.76ea1c",
        "type": "function",
        "z": "38cdd964.411306",
        "name": "cache Blue",
        "func": "flow.set('Blue', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 360,
        "wires": [
            [
                "a59d5085.188f5",
                "495cf8bc.4dc448"
            ]
        ]
    },
    {
        "id": "b4543f4.a6ae6c",
        "type": "arduino-board",
        "device": "COM3"
    },
    {
        "id": "62acb1ad.9016a",
        "type": "ui_group",
        "name": "Tri-color LED (Analog)",
        "tab": "8fea2cc9.a652",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "36a2d435.b8785c",
        "type": "ui_group",
        "name": "RGB Values",
        "tab": "8fea2cc9.a652",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "22aa8bb0.737a34",
        "type": "ui_group",
        "name": "Brightness",
        "tab": "8fea2cc9.a652",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8fea2cc9.a652",
        "type": "ui_tab",
        "name": "Tri-color LED Dashboard",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]